@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.shop__btn {
  color: white;
  text-decoration: underline;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.categories__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.categories__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-right: 1px solid black;
  padding-top: 35px;
  width: 220px;
}
.categories__item {
  width: 200px;
  font-size: 18px;
}
.top-widget__slider {
  margin-top: 35px;
  width: 890px;
  height: 325px;
  position: relative;
}
.arrow__right {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.womanFashion,
.manFashion {
  position: relative;
}
.today {
  margin-top: 135px;
}
.section__header {
  display: flex;
  align-items: left;
  position: relative;
}
.section__header-text {
  gap: 24px;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.section__header-text p {
  color: #db4444;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  border-left: 15px solid #db4444;
  padding: 5px 0 5px 10px;
}
.section__header-text h2 {
  font-size: 48px;
}
.today__timer {
  width: 400px;
  height: 100px;
  position: relative;
}
.timer {
  z-index: 2;
  background-color: rgb(113, 113, 113);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 50px;
}
.slider__arrow {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 0;
  flex-direction: row;
}
.left__arrow,
.right__arrow {
  width: 46px;
  height: 46px;
  cursor: pointer;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.today {
  border-bottom: 0.5px solid black;
}
.item-card {
  margin-top: 40px;
  width: 100%;
  height: 350px;
  background-color: rgb(113, 113, 113);
}
.item button {
  width: 230px;
  height: 55px;
  color: white;
  background-color: #db4444;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.categories {
  margin-top: 80px;
  border-bottom: 0.5px solid black;
}
.categories__card {
  margin-top: 60px;
  display: flex;
  gap: 25px;
  fill: currentColor;
}
.categories__card-item {
  width: 175px;
  height: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 70px;
  border: 1px solid black;
}
.categories__card svg rect {
  fill: currentColor;
}
.categories__card :hover {
  background-color: #db4444;
  border: none;
  color: white;
}
.thisMonth {
  margin: 70px 0 140px 0;
}
.section__header button {
  position: absolute;
  background-color: #db4444;
  width: 160px;
  height: 60px;
  border: none;
  color: white;
  right: 0;
  bottom: 0;
}
.banner {
  width: 100%;
  height: 500px;
  background-image: url("Frame 600.svg");
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 70px;
}
.banner__description {
  display: flex;
  flex-direction: column;
}
.banner__header p {
  color: #00ff66;
  margin-bottom: 32px;
}
.banner__header h2 {
  color: white;
  font-size: 48px;
  margin-bottom: 32px;
}
.timer__bottom {
  width: 320px;
  height: 60px;
  background-color: gray;
  margin-bottom: 32px;
}
.banner button {
  color: white;
  background-color: #00ff66;
  border: none;
  width: 170px;
  height: 55px;
  border-radius: 5px;
}
.banner__img {
  margin-left: 27px;
}
.banner__img img {
  width: 560px;
  height: 330px;
}
.ourProducts {
  margin-bottom: 80px;
}
.featured__card {
  display: grid;
  grid-template-areas:
    "first first second second"
    "first first third fourth";
  grid-template-rows: 2fr 2fr;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin: 60px 0 140px 0;
}
.featured__card-item{
  background-color: #0D0D0D;
  position: relative;
}
.featured__card-item:nth-child(1) {
  display: grid;
  grid-area: first;
  width: 570px;
  height: 600px;
  position: relative;
}
.featured__card-item:nth-child(1) img{
  position: absolute;
  margin: 0 10%;
  bottom: 0;
}
.featured__card-item:nth-child(2) {
  display: grid;
  grid-area: second;
  position: relative;
}
.featured__card-item:nth-child(2) img{
  position: absolute;
  right: 0;
  bottom: 0;
}

.featured__card-item:nth-child(3) {
  display: grid;
  grid-area: third;
  position: relative;

}
.featured__card-item:nth-child(3) img, .featured__card-item:nth-child(4) img{
  position: absolute;
  margin: 12%;
}
.featured__card-item:nth-child(4) {
  display: grid;
  grid-area: fourth;
  position: relative;
}
.card__item-text{
  position: absolute;
  bottom: 0;
  padding: 20px 30px;
  color: white;
  z-index: 2;
}
.card__item-text h3{
  font-size: 26px;
}
.card__item-text h3, p{
  margin: 10px 0;
}
.services__list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 88px;
}
.services__list-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.services__list-item img{
  margin-bottom: 25px;
}