@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&display=swap');

.login-container {
    display: flex;
    flex-direction: row;
    width: 1305px;
    margin-top: 60px;
}
.image-container {
    display: inline-block;
}
.login-image {
    width: 805px;
    height: 781px;
}
.login-form-container {
    display: flex;
    align-items: center;
    margin-left: auto;    
}
.login-form { 
    width: 371px;
    height: 530px;    
}
.login-form h2 {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 0.04em;
    margin-bottom: 24px;
}
.login-form p, .login-form a, #name, #email, #password, #creation, .sign-Google {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
    padding-right: 16px;
}
.link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.link-wrapper a:hover {
    font-weight: 500;
    text-decoration: underline;
}
#name, #email, #password {
    display: block;
    border: 0;
    border-bottom: 1px solid #000;
    background-color: rgba(0,0,0,0);
    outline: 0; 
    width: 371px;
    margin: 0 0 40px 0;
}
#creation {
    background: #DB4444;
    border: none;
    color: white;
    margin-bottom: 16px;    
}
.sign-Google {
    border: 1px solid rgba(0, 0, 0, 0.4);
    white-space: nowrap;
}
.sign-Google, #creation {
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 16px 122px;
    gap: 10px;
    width: 371px;
    height: 56px;
}