@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&display=swap');

.header {
  border-bottom: 1px solid rgb(118, 118, 118);
}
.header__top {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #000000;
  color: white;
}
.top__info {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 165px;
  width: 1200px;
  margin: 10px auto;
}
.top__text {
  display: flex;
  gap: 20px;
  font-size: 14px;
  line-height: 21px;

}
.header__lang {
  margin-left: 30px;
}
.header__lang select {
  color: white;
  background-color: #000;
  border: none;
  font-size: 14px;
  line-height: 21px;
}
.header__inner {
  display: flex;
  align-items: center;
  margin: 38px 0 16px 0;
  justify-content: space-between;
}
.header__search {
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 675px;
}
.logo {
  font-size: 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.03em;
  
}
.list {
  display: flex;
  gap: 35px;
}

.top__text, .list__item,  .search__field input,.header__lang select{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}
.list__item {
  font-size: 16px;
  line-height: 24px;
}
.search__field {
  position: relative;
}
.search__field button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  padding: 6px 10px;
  top: 0;
  right: 0;
}
.search__field input {
  background-color: #ededed;
  padding: 7px 12px 7px 20px;
  border: none;
  width: 240px;
  height: 35px;
  display: block;

  font-size: 12px;
  line-height: 18px;
}
.search__icon {
  display: flex;
  cursor: pointer;
  gap: 10px;
}
